{{ partial "header" . }}

<div class="container clearfix">
    <main role="main" class="content">
        <article class="post">
            <a class="btn home" href="{{ .Site.BaseURL }}" title="{{ .Site.Data.l10n.article.back_to_home }}">&laquo; {{ .Site.Data.l10n.article.back_to_home }}</a>
            {{ partial "article-header" . }}
            {{ .Content}}
            {{ partial "article-share" . }}
        </article>
        {{ if .Site.DisqusShortname }}
        <div class="comments">
            <!-- <h3>{{ .Site.Data.l10n.comments.comments }}</h3>
            {{ template "_internal/disqus.html" . }} -->
            <!-- UY BEGIN -->
            <!-- <div id="uyan_frame"></div>
            <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2140073"></script> -->
            <!-- UY END -->
            <!-- 来必力City版安装代码 -->
            <div id="lv-container" data-id="city" data-uid="MTAyMC8zNDM5NS8xMDkzMg==">
                <script type="text/javascript">
                    (function(d, s) {
                        var j, e = d.getElementsByTagName(s)[0];
    
                        if (typeof LivereTower === 'function') { return; }
    
                        j = d.createElement(s);
                        j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                        j.async = true;
    
                        e.parentNode.insertBefore(j, e);
                    })(document, 'script');
                </script>
                <noscript>为正常使用来必力评论功能请激活JavaScript</noscript>
                </div>
                <!-- City版安装代码已完成 -->
        </div>
        {{ end }}
    </main>
    {{ partial "author" . }}
</div>

{{ partial "footer" . }}
